@import '../../theme/scss/variables.scss';

.quotes {
  min-height: 319px;
  background: $section-bg-primary;
  padding-top: 131px;
  padding-left: 82px;

  @media (min-width: 414px) {
    min-height: 316px;
    padding-top: 128px;
    padding-left: 98px;
  }

  @media (min-width: $small-tablet-width) {
    min-height: 320px;
    padding-top: 42px;
    padding-left: 36px;
  }

  @media (min-width: 960px) {
    min-height: 319px;
    padding-top: 131px;
    padding-left: 45px;
  }

  &__title {
    font-weight: 400;
    font-size: 18px;

    @media (min-width: $small-tablet-width) {
      font-size: 14px;
    }

    @media (min-width: 960px) {
      font-size: 18px;
    }
  }
}
