include ../quotes/quotes

mixin content-top()

  section.content-top
    .content-top__banner
      .content-top__banner-img
        .content-top__banner-overlay
      .content-top__banner-description
    .content-top__quotes
      +quotes()
