@import '../variables.scss';

@mixin container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 960px;

  @media (min-width: $small-tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: 960px) {
    padding: 0;
  }
}


