block variables

doctype html
html(lang= lang)
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible" content="ie=edge")
      meta(name="keywords" content= keywords)
      meta(name="description" content= description)
      title= title || "Page Title"

      link(rel="apple-touch-icon" sizes="180x180" href="../src/theme/favicons/apple-touch-icon.png")
      link(rel="icon" type="image/png" sizes="32x32" href="../src/theme/favicons/favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="16x16" href="../src/theme/favicons/favicon-16x16.png")
      link(rel="manifest" href="../src/theme/favicons/site.webmanifest")
      link(rel="mask-icon" href="../src/theme/favicons/safari-pinned-tab.svg" color="#5bbad5")
      meta(name="msapplication-TileColor" content="#da532c")
      meta(name="theme-color" content="#ffffff")

  body(class= bodyClassName)
    block main
