@import '../../theme/scss/variables.scss';

.footer {
  max-width: 960px;
  margin: 0 auto;

  @media (min-width: 960px) {
    margin-top: 60px;
  }

  &__content {
    background: $section-bg-secondary;
    min-height: 330px;
  }

  &__copyright {
    min-height: 41px;
    background: #fff;
  }
}
