@font-face {
  font-family: 'Roboto';
  src:
    url('../fonts/roboto/roboto-bold.woff2') format('woff2'),
    url('../fonts/roboto/roboto-bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('../fonts/roboto/roboto-regular.woff2') format('woff2'),
    url('../fonts/roboto/roboto-regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Material Icons';
  src:
    url('../fonts/material-icons/material-icons-regular.woff2') format('woff2'),
    url('../fonts/material-icons/material-icons-regular.woff') format('woff');
  font-weight: 400;
}
