$main-font: 'Roboto', Arial, sans-serif;
$main-font-size: 18px;

$title-color: #0078DC;
$text-color: #000;

$section-bg-primary: #C4C4C4;
$section-bg-secondary: #0078DC;

$small-phone-width: 320px;
$phone-width: 480px;
$large-phone-width: 640px;
$small-tablet-width: 768px;
$tablet-width: 992px;
$large-tablet-width: 1024px;
$small-desktop-width: 1280px;
$desktop-width: 1440px;
